* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(141, 29%, 33%);
}

h1,
h2 {
    font-family: 'GaroaHackerClubeBold', sans-serif;
    font-weight: bold;
    font-style: normal; 
    margin: 10px 0 10px 0;
    color: hsl(210, 33%, 9%);
}

p {
    font-family: 'VDSRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: hsl(210, 33%, 9%);
}

header {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

form {
    display: flex;
}

section {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: hsla(325, 25%, 85%, 0.926);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

textarea {
    width: 75%;
    height: 200px;
}

input[type="text"],
input[type="email"] {
    width: 75%;
}

.message-section {
    width: 50%;
    height: auto;
    border: 1px solid black;
}

.email-signup {
    width: 50%;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: start;
}

fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button[type="submit"] {
    margin-top: auto;
    width: 100%;
    padding: 6px;
    font-family: 'VDSRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: hsl(210, 33%, 9%);
}

footer {
    border-top: 3px solid black;
    padding: 6px;
    background-color: hsla(325, 25%, 85%, 0.926);
}

footer > p{
    text-align: center;
    font-size: 16px;
    color: hsl(141, 29%, 33%)
}