* {
    box-sizing: border-box;
}

body {
    border: 1px solid black;
}

img {
    width: 100%;
    height: auto;
}

header {
    text-align: center;
}

textarea {
    width: 75%;
    height: 200px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.message-section {
    width: 50%;
    height: auto;
    border: 1px solid black;
}

.email-signup {
    width: 50%;
    height: auto;
    border: 1px solid black;
}

footer {
    text-align: center;
    border: 1px solid black;
}